.button {
  margin-left: var(--m-l-BS);
  margin-right: var(--m-r-BS);
  padding: var(--pad-BS);
  border-radius: var(--b-r-BS);
  background-color: var(--green-2);
  border: 1px solid var(--green-2);
  color: var(--black);
  &.active {
    background-color: var(--green-5);
    border-color: var(--green-5);
    color: var(--white);
    cursor: default;
  }
}
