.container {
  display: flex;
  flex-direction: var(--f-d-AboV);
  justify-content: var(--j-c-AboV);
  align-items: var(--a-i-AboV);
  margin: var(--m-t-AboV) auto 0 auto;
  width: var(--width-AboV);
  height: var(--height-AboV);
  .img1 {
    width: var(--width-AboV-img1);
    height: var(--height-AboV-img1);
  }
  .block {
    margin-top: var(--m-t-AboV-b);
    margin-left: var(--m-l-AboV-b);
    width: var(--width-AboV-b);
    height: var(--height-AboV-b);
    p {
      margin-top: var(--m-t-AboV-p);
      font-family: Raleway;
      font-size: var(--fz-AboV-p);
      font-weight: var(--fw-AboV-p);
      line-height: var(--lh-AboV-p);
      color: var(--black);
    }
  }
  .img2 {
    position: relative;
    top: var(--t-AboV-img2);
    margin-left: var(--m-l-Abo-img2);
    margin-right: var(--m-r-Abo-img2);
    width: var(--width-AboV-img2);
    height: var(--height-AboV-img2);
  }
}
