.section {
  display: flex;
  align-items: center;
  width: max-content;
  white-space: nowrap;
  margin-right: var(--m-r-BL-d);
  height: calc(var(--height-HedV) / 2 + 4px);
  .h4 {
    margin-left: var(--m-l-BL-h4);
  }
  .icon {
    width: var(--width-BL-StIc);
    height: var(--height-BL-StIc);
    fill: var(--green-3);
    cursor: default;
  }
}
