.container {
  display: flex;
  flex-direction: column;
  width: var(--width-HerV);
  height: var(--height-HerV);
  margin: var(--m-HerV) auto 0 auto;
  overflow: hidden;
  .h2 {
    margin-top: var(--m-t-HerV-h2);
    width: max-content;
  }
  .item1 {
    display: flex;
    justify-content: var(--j-c-HerV-I1);
    position: relative;
    top: var(--t-HerV-I1);
    height: max-content;
  }
  .item2 {
    position: relative;
    top: var(--t-HerV-I2);
    display: grid;
    grid-template-rows: repeat(var(--g-repeat-HerV-I2-r), 1fr);
    grid-template-columns: repeat(var(--g-repeat-HerV-I2-c), 1fr);
    row-gap: var(--r-g-HerV-I2);
    column-gap: var(--c-g-HerV-I2);
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--green-1);
      width: var(--width-HerV-c);
      height: var(--height-HerV-c);
      
      .card-top {
        margin-top: var(--m-t-HerV-c-t);
        width: var(--width-HerV-c-i);
        height: var(--height-HerV-c-i);
        .card-img {
          width: var(--width-HerV-c-i);
          height: var(--height-HerV-c-i);
        }
      }
      .card-bottom {
        margin-top: var(--m-t-HerV-c-b);
        width: var(--width-HerV-c-b);
        height: calc(var(--height-HerV-c) - var(--height-HerV-c-i));
        h3 {
          margin-top: var(--m-t-HerV-h3);
        }
        p {
          margin-top: var(--m-t-HerV-p);
          font-family: Raleway;
          font-size: var(--fz-cite);
          font-weight: var(--fw-cite);
          line-height: var(--lh-cite);
          color: var(--black);
          br {
            font-size: var(--fz-cite);
            font-weight: var(--fw-cite);
            line-height: var(--lh-cite);
          }
          b {
            position: relative;
            top: var(--t-HerV-b);
            padding: 0;
            margin: 0;
            font-size: var(--f-s-HerV-b);
            line-height: var(--l-h-HerV-b);
            color: var(--green-4);
          }
        }
        button {
          margin-top: var(--m-t-HerV-but);
          width: var(--width-HerV-but);
          height: var(--height-HerV-but);
          border: 1px solid var(--green-4);
          color: var(--green-4);
        }
      }
    }
  }
}
