[device='tablet_s'] {
  --fz-h1: 36px;
  --fw-h1: 500;
  --lh-h1: 36px;

  --fz-h2: 24px;
  --fw-h2: 500;
  --lh-h2: 26.4px;

  --fz-h3: 24px;
  --fw-h3: 500;
  --lh-h3: 28.18px;

  --fz-h4: 20px;
  --fw-h4: 700;
  --lh-h4: 23, 48px;

  --fz-h5: 16px;
  --fw-h5: 500;
  --lh-h5: 18.78px;

  --fz-h6: 12px;
  --fw-h6: 500;
  --lh-h6: 14.4px;

  --fz-but: 18px;
  --fw-but: 500;
  --lh-but: 21.13px;

  --fz-cite: 16px;
  --fw-cite: 500;
  --lh-cite: 18.78px;

  --fz-a: 18px;
  --fw-a: 500;
  --lh-a: 21, 13px;

  //BlockLogo
  --m-r-BL-d: 0;
  --m-l-BL-h4: 6px;
  --width-BL-StIc: 35px;
  --height-BL-StIc: 35px;

  //HeaderViews
  --bg-HV: var(--green-1);
  --width-HedV: 100%;
  --height-HedV: 123px;
  --f-d-HV-Con: column;
  --f-d-HV-Bl: row;
  --m-r-HV-a: 60px;
  --width-HV-BasIc: 24px;
  --height-HV-BasIc: 24px;

  //HeroViews
  --height-LogV: 239px;
  --f-d-LogV: row;
  --g-LogV: 27px;
  --m-LogV: 50px;

  --width-LogV-img: 195px;
  --height-LogV-img: 239px;

  --height-LogV-item1: 100%;
  --width-LogV-item2: 280px;
  --height-LogV-item2: 239px;

  --fz-LogV-p: 16px;
  --fw-LogV-p: 500;
  --lh-LogV-p: 24px;

  --m-t-LogV-p: 8px;

  --m-t-LogV-but: 11px;

  --width-LogV-but: 178px;
  --height-LogV-but: 50px;

  //HeroViews
  --width-HerV: 510px;
  --height-HerV: 1709px;
  --m-HerV: 46px;

  --m-t-HerV-h2: 0;

  --j-c-HerV-I1: start;
  --t-HerV-I1: 20px;

  --t-HerV-I2: 40px;
  --g-repeat-HerV-I2-r: 3;
  --g-repeat-HerV-I2-c: 2;
  --r-g-HerV-I2: 30px;
  --c-g-HerV-I2: 28px;

  --width-HerV-c: 240px;
  --height-HerV-c: 514px;

  --m-t-HerV-c-t: 20px;

  --width-HerV-c-i: 200px;
  --height-HerV-c-i: 250px;

  --m-t-HerV-c-b: 15px;
  --width-HerV-c-b: 200px;

  --m-t-HerV-h3: 8px;
  --m-t-HerV-p: 11px;
  --t-HerV-b: 30px;
  --f-s-HerV-b: 20px;
  --l-h-HerV-b: 23.48px;
  --m-t-HerV-but: 40px;
  --width-HerV-but: 200px;
  --height-HerV-but: 50px;

  //BlockSwitching

  --m-l-BS: 0;
  --m-r-BS: 32px;
  --pad-BS: 9px 20px;
  --b-r-BS: 20px;

  //NewViews
  --m-NewV: 50px;
  --width-NewV: 576px;
  --height-NewV: 410px;
  --bg-i-NewV: url('/img/bg_t_s.png');
  --bg-p-NewV: center;

  --width-NewV-item: 510px;
  --p-t-NewV-item: 50px;
  --m-l-NewV-item: 33px;

  --width-NewV-icon: 50px;
  --height-NewV-icon: 50px;

  --t-NewV-h2: -56px;
  --l-NewV-h2: 71px;
  --width-NewV-h2: 261px;

  --t-NewV-p: -38px;
  --fz-NewV-p: 16px;
  --fw-NewV-p: 500;
  --lh-NewV-p: 22.4px;

  --t-NewV-b: 14px;

  --m-t-NewV-but: -5px;
  --width-NewV-but: 190px;
  --height-NewV-but: 50px;

  //AboutViews
  --f-d-AboV: column;
  --j-c-AboV: start;
  --a-i-AboV: start;
  --width-AboV: 510px;
  --height-AboV: 656px;
  --m-t-AboV: 50px;

  --width-AboV-img1: 375px;
  --height-AboV-img1: 370px;

  --m-t-AboV-b: 26px;
  --m-l-AboV-b: 0;
  --width-AboV-b: 500px;
  --height-AboV-b: 176px;

  --m-t-AboV-p: 18px;
  --fz-AboV-p: 16px;
  --fw-AboV-p: 500;
  --lh-AboV-p: 22.4px;

  --t-AboV-img2: 0;
  --m-l-Abo-img2: 0;
  --m-r-Abo-img2: 30px;
  --width-AboV-img2: 80px;
  --height-AboV-img2: 80px;

  //FooterViews
  --f-d-FooV: column;
  --f-w-FooV: nowrap;
  --a-i-FooV: center;
  --p-b-FooV: 0;
  --width-FooV: 100%;
  --height-FooV: 319px;
  --m-t-FooV: 50px;

  --f-d-FooV-item1: row;
  --j-c-FooV-item1: space-between;
  --g-FooV-item1: 2px;
  --m-l-FooV-item1: 0;
  --width-FooV-item1: 100%;
  --height-FooV-item1: 105px;

  --m-t-FooV-item1-b1: 7px;
  --m-l-FooV-item1-b1: 34px;
  --width-FooV-item1-b1: 143px;

  --m-t-FooV-item1-b2: 25px;
  --m-l-FooV-item1-b2: 0;
  --m-r-FooV-item1-b2: 34px;
  --width-FooV-item1-b2: 170px;

  --m-t-FooV-item1-b2-h5: 7px;

  --t-FooV-item2: 0;
  --f-d-FooV-item2: row;
  --f-w-FooV-item2: nowrap;
  --j-c-FooV-item2: space-around;
  --a-i-FooV-item2: flex-start;
  --m-t-FooV-item2: 0;
  --m-l-FooV-item2: 0;
  --width-FooV-item2: 100%;

  --g-FooV-item2-b: 10px;

  --g-FooV-item2-b-nav: 8px;

  --m-l-FooV-item2-b1: 0;
  --width-FooV-item2-b1: auto;

  --t-FooV-item2-b2: 0;
  --m-FooV-item2-b2: 0;
  --width-FooV-item2-b2: auto;

  --t-FooV-item2-b3: 0;
  --width-FooV-item2-b3: auto;

  --a-i-FooV-item3: center;
  --m-t-FooV-item3: 18px;
  --m-b-FooV-item3: 0;
  --width-FooV-item3: 510px;
  --bor-t-FooV-item3: 1px solid var(--gray-1);

  --m-t-FooV-item3-b1: 15px;
  --m-l-FooV-item3-b1: 16px;
  --width-FooV-item3-b1: 130px;

  --width-FooV-item3-b1-i1: 24px;
  --height-FooV-item3-b1-i1: 24px;

  --width-FooV-item3-b1-i2: 20px;
  --height-FooV-item3-b1-i2: 20px;

  --width-FooV-item3-b1-i3: 20px;
  --height-FooV-item3-b1-i3: 16px;

  --m-t-FooV-item3-h6: 10px;
  --m-l-FooV-item3-h6: 16px;
  --width-FooV-item3-h6: max-content;
}
