[device='tablet_b'] {
  --fz-h1: 40px;
  --fw-h1: 500;
  --lh-h1: 40px;

  --fz-h2: 30px;
  --fw-h2: 500;
  --lh-h2: 33px;

  --fz-h3: 30px;
  --fw-h3: 500;
  --lh-h3: 35.22px;

  --fz-h4: 20px;
  --fw-h4: 700;
  --lh-h4: 23.48px;

  --fz-h5: 18px;
  --fw-h5: 500;
  --lh-h5: 21.13px;

  --fz-h6: 12px;
  --fw-h6: 500;
  --lh-h6: 14.4px;

  --fz-cite: 18px;
  --fw-cite: 500;
  --lh-cite: 21.13px;

  --fz-but: 20px;
  --fw-but: 500;
  --lh-but: 23.48px;

  --fz-a: 18px;
  --fw-a: 500;
  --lh-a: 21.13px;

  //BlockLogo
  --m-r-BL-d: 27px;
  --m-l-BL-h4: 9px;
  --width-BL-StIc: 35px;
  --height-BL-StIc: 35px;

  //HeaderViews
  --bg-HV: var(--green-1);
  --width-HedV: 100%;
  --height-HedV: 100px;
  --f-d-HV-Con: row;
  --f-d-HV-Bl: row;
  --m-r-HV-a: 59px;
  --width-HV-BasIc: 24px;
  --height-HV-BasIc: 24px;

  //HeroViews
  --height-LogV: 380px;
  --f-d-LogV: row;
  --g-LogV: 28px;
  --m-LogV: 0;

  --width-LogV-img: 330px;
  --height-LogV-img: 380px;

  --height-LogV-item1: 100%;
  --width-LogV-item2: 330px;
  --height-LogV-item2: 312px;

  --fz-LogV-p: 18px;
  --fw-LogV-p: 500;
  --lh-LogV-p: 27px;

  --m-t-LogV-p: 20px;

  --m-t-LogV-but: 40px;

  --width-LogV-but: 210px;
  --height-LogV-but: 60px;

  //HeroViews
  --width-HerV: 690px;
  --height-HerV: 2323px;
  --m-HerV: 66px;

  --m-t-HerV-h2: 5px;

  --j-c-HerV-I1: end;
  --t-HerV-I1: -37px;

  --t-HerV-I2: -8px;
  --g-repeat-HerV-I2-r: 3;
  --g-repeat-HerV-I2-c: 2;
  --r-g-HerV-I2: 30px;
  --c-g-HerV-I2: 27px;

  --width-HerV-c: 330px;
  --height-HerV-c: 730px;

  --m-t-HerV-c-t: 20px;

  --width-HerV-c-i: 290px;
  --height-HerV-c-i: 422px;

  --m-t-HerV-c-b: 18px;
  --width-HerV-c-b: 290px;

  --m-t-HerV-h3: 10px;
  --m-t-HerV-p: 9px;
  --t-HerV-b: 28px;
  --f-s-HerV-b: 24px;
  --l-h-HerV-b: 28.18px;
  --m-t-HerV-but: 49px;
  --width-HerV-but: 290px;
  --height-HerV-but: 65px;

  //BlockSwitching
  --m-l-BS: 33px;
  --m-r-BS: 0;
  --pad-BS: 9px 20px;
  --b-r-BS: 20px;

  //NewViews
  --m-NewV: 70px;
  --width-NewV: calc(766px - (100vw - 100%));
  --height-NewV: 502px;
  --bg-i-NewV: url('/img/bg_t_b.png');
  --bg-p-NewV: center;

  --width-NewV-item: 690px;
  --p-t-NewV-item: 70px;
  --m-l-NewV-item: 37px;

  --width-NewV-icon: 60px;
  --height-NewV-icon: 60px;

  --t-NewV-h2: -68px;
  --l-NewV-h2: 81px;
  --width-NewV-h2: 320px;

  --t-NewV-p: -40px;
  --fz-NewV-p: 18px;
  --fw-NewV-p: 500;
  --lh-NewV-p: 27px;

  --t-NewV-b: 21px;

  --m-t-NewV-but: 9px;
  --width-NewV-but: 210px;
  --height-NewV-but: 62px;

  //AboutViews
  --f-d-AboV: column;
  --j-c-AboV: start;
  --a-i-AboV: start;
  --width-AboV: 690px;
  --height-AboV: 825px;
  --m-t-AboV: 68px;

  --width-AboV-img1: 510px;
  --height-AboV-img1: 504px;

  --m-t-AboV-b: 37px;
  --m-l-AboV-b: 0;
  --width-AboV-b: auto;
  --height-AboV-b: 200px;

  --m-t-AboV-p: 30px;
  --fz-AboV-p: 18px;
  --fw-AboV-p: 500;
  --lh-AboV-p: 27px;

  --t-AboV-img2: 0;
  --m-l-Abo-img2: 0;
  --m-r-Abo-img2: 30px;
  --width-AboV-img2: 80px;
  --height-AboV-img2: 80px;

  //FooterViews
  --f-d-FooV: row;
  --f-w-FooV: wrap;
  --a-i-FooV: flex-start;
  --p-b-FooV: 0;
  --width-FooV: 100%;
  --height-FooV: 250px;
  --m-t-FooV: 72px;

  --f-d-FooV-item1: row;
  --j-c-FooV-item1: space-between;
  --g-FooV-item1: 2px;
  --m-l-FooV-item1: 0;
  --width-FooV-item1: 100%;
  --height-FooV-item1: 80px;

  --m-t-FooV-item1-b1: 13px;
  --m-l-FooV-item1-b1: 40px;
  --width-FooV-item1-b1: 143px;

  --m-t-FooV-item1-b2: 25px;
  --m-l-FooV-item1-b2: 0;
  --m-r-FooV-item1-b2: 40px;
  --width-FooV-item1-b2: 170px;

  --m-t-FooV-item1-b2-h5: 7px;

  --t-FooV-item2: 0;
  --f-d-FooV-item2: row;
  --f-w-FooV-item2: nowrap;
  --j-c-FooV-item2: start;
  --a-i-FooV-item2: flex-start;
  --m-t-FooV-item2: 0;
  --m-l-FooV-item2: 0;
  --width-FooV-item2: calc(100% - 210px);

  --g-FooV-item2-b: 12px;

  --g-FooV-item2-b-nav: 10px;

  --m-l-FooV-item2-b1: 40px;
  --width-FooV-item2-b1: auto;

  --t-FooV-item2-b2: 0;
  --m-FooV-item2-b2: 0 65px;
  --width-FooV-item2-b2: auto;

  --t-FooV-item2-b3: 0;
  --width-FooV-item2-b3: auto;

  --a-i-FooV-item3: flex-start;
  --m-t-FooV-item3: 0;
  --m-b-FooV-item3: 0;
  --width-FooV-item3: 210px;
  --bor-t-FooV-item3: none;

  --m-t-FooV-item3-b1: 0;
  --m-l-FooV-item3-b1: 0;
  --width-FooV-item3-b1: 130px;

  --width-FooV-item3-b1-i1: 24px;
  --height-FooV-item3-b1-i1: 24px;

  --width-FooV-item3-b1-i2: 20px;
  --height-FooV-item3-b1-i2: 20px;

  --width-FooV-item3-b1-i3: 20px;
  --height-FooV-item3-b1-i3: 16px;

  --m-t-FooV-item3-h6: 11px;
  --m-l-FooV-item3-h6: 0;
  --width-FooV-item3-h6: max-content;
}
